@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open sans', sans-serif;
    margin: 0;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg,rgba(12, 12, 133, 0.8),rgba(192, 136, 206, 0.7)),url(https://1en5vh48t4rqdnq1j3h9ihn4-wpengine.netdna-ssl.com/wp-content/uploads/2018/11/group-photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    margin: 40px 0;
}
h1{
    color: #fff;
    text-align: center;
}
header p{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic; 
}
#survey-form{
    background-color:rgba(18, 18, 63, 0.8);
    width: 750px;
    margin: auto;
    padding: 10px 40px;
}
label,p{
    color: #fff;
    font-size: 1.3rem;
}
p{
    margin:0;
    padding-bottom: 5px;
}
.form-element{
    display: flex;
    flex-direction: column;
    margin:30px 0;
}
.form-box{
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-top: 10px;
}

.input-checkbox{
    padding-top: 10px;
}

input,button,select,textarea{
    /* margin: 0; */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: gray;
}