*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 100px;
    background-color: rgb(1, 35, 51);
    border-bottom: 4px solid rgb(255, 60, 0);
}

#logo{
    margin-right: auto;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
}
#logo span{
    color: rgb(255, 60, 0);
}
ul li{
    display: inline-block;
    padding: 5px 25px;
    font-size: 1.1rem;
}
li a{
    text-decoration: none;
    color: #fff;
    transition:ease-in-out 0.3s;
}
li a:hover{
    color:rgb(255, 60, 0);
}

@media(max-width: 820px){ 
    nav{
        display: flex;
        flex-direction: column;
        padding:20px 0;
    }
    #logo{
        margin: auto;
        padding-bottom: 30px;
    }
    ul li{
        font-size: 0.9rem;
    }
}


#showcase{
    background-image:linear-gradient(rgba(0, 28, 70,0.5),rgba(0,28,70,0.8)), url(https://cyclingindustry.news/wp-content/uploads/2019/12/bicycle-shop-kits.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}
p{
    text-align: center;
    color: #000;
}
#showcase h1{
    text-align: center;
    color: #fff;
}
#showcase p{
    color: #fff;
}
#showcase h1{
    padding-top: 140px;
    padding-bottom: 20px;
    font-size: 3rem;
}


/* //////////SHOWCASE MOBILE///////*/
@media(max-width:720px) {
    #showcase h1{
        font-size: 2rem;
    }
    #showcase{
        padding: 0 20px;
    }
}
/* ////////////NEWSLETTER MOBILE //////////*/ 
@media(max-width:720px){
    #newsletter{
        display: flex;
        flex-direction: column;
    }
    .newsletter-submit{
        padding: 10px 0;
    }
    .newsletter-submit input{
        width: 200px;
    }
}
#newsletter{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(1, 35, 51);
    padding: 20px 0;
    align-items: center;
}
#newsletter h3{
    color: #fff;
    font-size: 1.3rem;
}
input {
    padding: 5px;
    width: 250px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.submit-btn{
    border: 0;
    background-color: rgb(255, 60, 0);
    padding: 8px 15px 7px 15px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover{
    background-color: rgb(255, 107, 61);
}
#boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 100px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    
}
.box:hover img{
    transform: scale(1.3);
}
.box-logo img {
    height: 100px;    
    transition: 0.3s;
}
.box h3{
    color: #000;
    padding-top: 30px;
}
.box p{
    color: #000;
    padding: 20px 10px 0 10px;
    line-height: 25px;
}
@media(max-width:720px){
    #boxes{
        display: flex;
        flex-direction: column;
    }
    .box{
        background-color: #f1f1f1;
        padding: 30px;
        margin:10px 0;
    }
}
footer{
    background-color: rgb(255, 60, 0);
    padding: 30px;
}
footer p{
    font-size: 0.9rem;
    color: #fff;
}


/* about page */

.container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.main{
    width: 65%;
    /* background-color: darkgoldenrod; */
    padding: 15px 100px;
}
.side{
    width: 20%;
    /* background-color: cadetblue; */
    padding: 15px 10px;
    margin-right: 100px;
}
.light{
    margin-bottom: 30px;
}
.light h2{
    margin-bottom: 20px;
}
.dark{
    padding: 10px;
    background-color: #35424a;
    color: #fff;
}
.side h2{
    padding-bottom:20px;
}

@media(max-width:970px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
        padding: 0;
    }
    .side{
        width: 100%;
        margin-top: 40px;
        padding: 0;
    }
}
